.interactive-text {
  max-width: 541px;
  min-height: 317px;

  bottom: 0;
  right: -5%;
}

.interactive-p {
  font-family: Josefin Sans;
  font-size: 15px;
  line-height: 25px;
  max-width: 445px;
}

@media (max-width: 760px) {
  .interactive-text {
    padding: 20px;
  }
  .interactive-p {
    font-size: 18px;
    line-height: 25px;
  }
}
